.page{
    font-family: Helvetica;
    font-size: 20px;
    width: 1440px;
    margin: 0 auto;
}
.header, .footer{
    background-color: #FE1A19;
    color: white;
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 52px 70px 52px 70px;
}

.central-column, .column{
    border: 3px solid #E5E000;
    border-radius: 20px;
    width: 400px;
    padding: 33px;
}

.central-column{
    margin-left: 50px;
    margin-right: 50px;
}

.column-text{
    margin-top: 41px;
    width: 334px;
}